{% extends "Base.html" %}
{% load static %}
{% block title %}{{ this_game.name }}{% endblock %}
{% block css %}
{% endblock %}
{% block breadcrumb %}
    {% if request.user.is_authenticated %}
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-yonghudenglu"></use>
        </svg>{{ user.username }} <strong>用户</strong><span style="color: #ff00ff">{{ user.nick_name }}</span>
        登录{% endif %}
{% endblock %}
{% block content %}
    <div class="content_flex">
        {{ this_game.name }}{{ this_game.rate }}{{ this_game.ischeck }}
        {% for p in this_game.get_gamepalyers %}
            {{ p.player.nick_name }}
        {% endfor %}
    </div>


    <div class="content_flex">
        <form action="{% url 'sc_card:game_detail' this_game.id %}" method="POST" onsubmit="return checkForm()">
            {% csrf_token %}
            <div>
                <input type="hidden" name="gameid" value="{{ this_game.id }}">
            </div>

            <div>

                <strong>获胜选手:</strong>
                {% for p in this_game.get_gamepalyers %}
                    <input type="radio" name="winner" value="{{ p.id }}"/>
                    {{ p.player.nick_name }}
                {% endfor %}

            </div>
            <div>
                <strong>赢几番:</strong>
                <input type="text" name="score">

            </div>
            <div>

                {% if this_game.get_gamepalyers %}
                    <strong>失败选手:</strong>

                    {% for p in this_game.get_gamepalyers %}
                        <input type="checkbox" name="loser" value="{{ p.id }}"/>
                        {{ p.player.nick_name }}
                    {% endfor %}

                    </div>
                {% endif %}


            <input type="submit" value="提交" class="btn">
        </form>
    </div>
    <strong>牌局明细情况</strong>
    <div class="content_flex">
        {% if game_detail %}
            <table width="100%" border="1" cellspacing="1"
                   style="text-align: center;font-size: 0.8em;border-collapse:collapse">
                <tr>
                    <th>时间</th>
                    <th>翻数</th>
                    <th>赢</th>
                    <th>输</th>
                    <th>输</th>
                </tr>
                {% for i in game_detail %}
                    <tr>
                        <td>{{ i.add_time|date:'h时m分' }}</td>
                        <td>{{ i.score }}</td>
                        <td>{{ i.gamewinner }}</td>
                        <td>{{ i.gameloser1 }}</td>
                        <td>{{ i.gameloser2 }}</td>
                    </tr>
                {% endfor %}

            </table>
        {% else %}
            <div class="errorlist">还没有开始</div>
        {% endif %}


    </div>



{% endblock %}
{% block js %}
    <script type="text/javascript">
        function checkForm() {
            alert("ok")

        }
    </script>
{% endblock %}