{% extends "Base.html" %}
{% load static %}
{% block title %}{{ this_game.name }}{% endblock %}
{% block css %}
{% endblock %}
{% block breadcrumb %}
    {% if request.user.is_authenticated %}
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-yonghudenglu"></use>
        </svg>{{ user.username }} <strong>用户</strong><span style="color: #ff00ff">{{ user.nick_name }}</span>
        登录{% endif %}
{% endblock %}
{% block content %}
    <div class="content_flex">
        <div><strong style="color: #db192a">牌局名称：</strong> <span
                style="font-size: 0.8em;font-style: italic">{{ this_game.name }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div><strong style="color: #db192a">翻数大小：</strong> <span
                style="font-size: 0.8em;font-style: italic">{{ this_game.rate }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div><strong style="color: #db192a">参加选手：</strong>{% for p in this_game.get_gamepalyers %}
            <span style="font-size: 0.8em;font-style: italic">★{{ p.player.nick_name }}</span>
        {% endfor %}</div>


    </div>


    <div class="content_flex">
        <form action="{% url 'sc_card:game_detail' this_game.id %}" method="POST" onsubmit="return checkForm()"
              name="frm">
            {% csrf_token %}

            <div>

                <strong>获胜选手:</strong>
                {% for p in this_game.get_gamepalyers %}
                    <input type="radio" name="winner" value="{{ p.player.id }}"/>
                    {{ p.player.nick_name }}
                {% endfor %}

            </div>
            <div>
                <strong>赢几番:</strong>
                <input type="text" name="score" value="0.5">

            </div>
            <div>


                {% if this_game.get_gamepalyers.count > 3 %}
                    <strong>失败选手:</strong>

                    {% for p in this_game.get_gamepalyers %}
                        <input type="checkbox" name="loser" value="{{ p.player.id }}"/>
                        {{ p.player.nick_name }}
                    {% endfor %}
                {% else %}
                    {% for p in this_game.get_gamepalyers %}
                        <input type="checkbox" name="loser" value="{{ p.player.id }}" style="display:none;"/>
                    {% endfor %}
                {% endif %}
            </div>

            <input type="submit" value="提交" class="btn">
        </form>
    </div>
    <strong>牌局明细情况</strong>
    <div class="content_flex">
        {% if game_detail %}
            <table width="100%" border="1" cellspacing="2"
                   style="text-align: center;font-size: 1em;border-collapse:collapse">
                <tr>
                    <th>时间</th>
                    <th>翻数</th>
                    <th>赢</th>
                    <th>输</th>
                    <th>输</th>
                    <th>删除</th>
                </tr>

                {% for i in  game_detail %}
                    <tr>
                        <td>{{ i.add_time|date:'h时m分' }}</td>
                        <td>{{ i.score }}</td>
                        <td>{{ i.gamewinner }}</td>
                        <td>{{ i.gameloser1 }}</td>
                        <td>{{ i.gameloser2 }}</td>
                        <td><a href="{% url 'sc_card:game_detail' i.game_id %}">删除</a></td>
                    </tr>
                {% endfor %}

            </table>
        {% else %}
            <div class="errorlist">还没有开始</div>
        {% endif %}


    </div>



{% endblock %}
{% block js %}
    <script type="text/javascript">
        function checkForm() {

            var winner = frm.winner.value;
            if (winner == "") {
                alert("选取获胜选手");
                return false;
            }

            var score = frm.score.value;
            if (score == "") {
                alert("输入翻数");
                return false;
            }
            obj = document.getElementsByName("loser");
            var longtxt = 0;
            if (obj.length == 3) {
                 for (k in obj){
                     if(obj[k].value!=winner)
                     {
                         obj[k].checked=true;
                     }
                 }
            }
            else {
                for (k in obj) {
                    if (obj[k].checked) {
                        longtxt++;
                        if (obj[k].value == winner) {
                            alert("输家与赢家是相同选手");
                            return false;
                        }
                    }
                }
                if (longtxt != 2) {
                    alert("输家选手必须是两位");
                    return false;
                }
            }
            return true;
        }
    </script>
{% endblock %}