{% extends "Base.html" %}
{% load static %}
{% block title %}{{ this_game }}{% endblock %}
{% block css %}
{% endblock %}
{% block breadcrumb %}
    {% if request.user.is_authenticated %}
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-yonghudenglu"></use>
        </svg>{{ user.username }} <strong>用户</strong><span style="color: #ff00ff">{{ user.nick_name }}</span>
        登录{% endif %}
{% endblock %}
{% block content %}
    <div class="content_flex">
        <div><strong style="color: #db192a">牌局名称：</strong> <span
                style="font-size: 0.8em;font-style: italic">{{ this_game.name }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div><strong style="color: #db192a">翻数大小：</strong> <span
                style="font-size: 0.8em;font-style: italic">{{ this_game.rate }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div><strong style="color: #db192a">参加选手：</strong>{% for p in this_game.get_gamepalyers %}
            <span class="player" style="font-size: 0.8em;font-style: italic">{{ p.player.nick_name }}</span>
        {% endfor %}</div>

    </div>



    <strong>明细</strong><span id="result"></span>
    <div class="content_flex">
        {% if game_detail %}
            <table id="detail" width="100%" border="1" cellspacing="2"
                   style="text-align: center;font-size: 1em;border-collapse:collapse">
                <tr>
                    <th>时间</th>
                    <th>翻数</th>
                    <th>赢</th>
                    <th>输</th>
                    <th>输</th>
                    <th>★</th>
                </tr>

                {% for i in  game_detail %}
                    <tr>
                        <td>{{ i.add_time|date:'h时i分' }}</td>
                        <td>{{ i.score }}</td>
                        <td>{{ i.gamewinner }}</td>
                        <td>{{ i.gameloser1 }}</td>
                        <td>{{ i.gameloser2 }}</td>
                        <td><a href="#">☺</a></td>
                    </tr>
                {% endfor %}

            </table>
        {% else %}
            <div class="errorlist">还没有开始</div>
        {% endif %}

    </div>

{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/maths.js' %}"></script>
    <script type="text/javascript">
        window.onload = function () {
            huizong();
        }
    </script>
    <script type="text/javascript">
        function checkForm() {

            var winner = frm.winner.value;
            if (winner == "") {
                alert("选取获胜选手");
                return false;
            }

            var score = frm.score.value;
            if (score == "") {
                alert("输入翻数");
                return false;
            }
            obj = document.getElementsByName("loser");
            var longtxt = 0;
            if (obj.length == 3) {
                for (k in obj) {
                    if (obj[k].value != winner) {
                        obj[k].checked = true;
                    }
                }
            }
            else {
                for (k in obj) {
                    if (obj[k].checked) {
                        longtxt++;
                        if (obj[k].value == winner) {
                            alert("输家与赢家是相同选手");
                            return false;
                        }
                    }
                }
                if (longtxt != 2) {
                    alert("输家选手必须是两位");
                    return false;
                }
            }
            return true;
        }
    </script>
    <script type="text/javascript">
        //计算汇总
        function huizong() {
            var rate ={{ this_game.rate }};
            players = new Array();
            var els = document.querySelectorAll(".player");
            for (i = 0; i < els.length; i++) {
                var p = new Object();
                p.nick_name = els[i].innerHTML;
                p.score = 0;
                players[i] = p;
            }


            var detail = document.querySelector("#detail").rows;
            for (i = 1; i < detail.length; i++) {
                for (j = 0; j < players.length; j++) {
                    if (detail[i].cells[2].innerHTML == players[j].nick_name) {
                        players[j].score = Number(players[j].score).add(Number(detail[i].cells[1].innerHTML).mul(rate).mul(2.0));
                    }
                    if (detail[i].cells[3].innerHTML == players[j].nick_name) {
                        players[j].score = Number(players[j].score).sub(Number(detail[i].cells[1].innerHTML).mul(rate));
                    }
                    if (detail[i].cells[4].innerHTML == players[j].nick_name) {
                        players[j].score = Number(players[j].score).sub(Number(detail[i].cells[1].innerHTML).mul(rate));
                    }
                }

            }
            var result = "";
            for (k = 0; k < players.length; k++) {
                result += '<strong>' + players[k].nick_name + '</strong>:' + players[k].score + '&nbsp;&nbsp;&nbsp;';

            }
            document.getElementById("result").innerHTML = result;
        }


    </script>
{% endblock %}