{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/eb.css' %}">
    <script src="//at.alicdn.com/t/font_398012_pbpu0xrsd9.js" type="text/javascript"></script>
    <title>公司主页</title>
    {% block css %}
    {% endblock %}
</head>
<body>
<!--头部-->
<header>
  <p>  {% if request.user.is_authenticated %}
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-yonghudenglu"></use>
        </svg><strong>当前登录用户：</strong><span style="color: #ff00ff">{{ user.username }}</span> <strong>昵称：</strong></strong><span style="color: #ff00ff">{{ user.nick_name }}</span>
      {% endif %}
     </p>
</header>

<!--文本主体-->
<section>


        {% block content %}


        {% endblock %}



</section>
<!--尾部-->
<footer>
    <div class="tab" style="color:#f7ef0e">
        <a href="{% url 'eb:booking' %}" style="color: #516f48">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-mingxi"></use>
            </svg>

            <br/>记账</a>
    </div>
    <div class="tab"><a href="{% url 'eb:inquery' %}">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-mendianzuoye-xitongtubiao-"></use>
        </svg>

        <br/>查询</a>
    </div>
    <div class="tab">
        <a href="{% url 'eb:verify' %}">
        <svg class="icon" aria-hidden="true" style="color: #db192a">
            <use xlink:href="#icon-jiugongge"></use>
        </svg>

        <br/>审核</a>
    </div>
    <div class="tab">
        <a href="{% url 'users:index' %}" style="color: #e76f17">
            <svg class="icon" aria-hidden="true" style="color:#0ec3f7">
                <use xlink:href="#icon-zhuce"></use>
            </svg>

            <br/>用户中心
        </a>
    </div>
</footer>
{% block js %}
{% endblock %}
</body>
</html>
