{% extends "bloodsugarmonitor/bloodBase.html" %}
{% load static %}
{% block title %}血糖监控{% endblock %}
{% block css %}

{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block content %}
    <a class="btn" href="{% url 'bloodsugermonitor:index' %}">记录血糖</a>
    <a class="btn" href="{% url 'bloodsugermonitor:index' %}">血糖查看</a>
    <a class="btn" href="{% url 'bloodsugermonitor:index' %}">删除</a>

{% endblock %}
{% block js %}
    <script type="text/javascript">
        function getCookie(name) {
            var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
            if (arr = document.cookie.match(reg))
                return unescape(arr[2]);
            else
                return null;
        }


        function ajax(starttime, endtime, submituser, expensestype, issubmit) {
            //创建异步对象
            var xhr = new XMLHttpRequest();
//设置请求的类型及url
//post请求一定要添加请求头才行不然会报错
            xhr.open('post', '{% url 'eb:inquery' %}');
            let csrftoken = getCookie('csrftoken');
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
//发送请求
            let data = 'starttime=' + starttime + '&endtime=' + endtime + '&submituser=' + submituser + '&expensestype=' + expensestype + '&issubmit=' + issubmit;
            xhr.send(data);
            xhr.onreadystatechange = function () {
                // 这步为判断服务器是否正确响应
                if (xhr.readyState == 4 && xhr.status == 200) {
                    console.log(xhr.responseText);
                }
            };

        }

    </script>
{% endblock %}