* {
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font: normal 100% Helvetica, Arial, sans-serif;
}

body a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

header {
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 1px 1px 2px rgba(205, 215, 215, .8);
}

.title {
    width: 100%;
    text-align: center;
    height: 80px;
    line-height: 40px;
}

section {
    width: 100%;
    position: absolute;
    left: 0;
    top: 80px;
    bottom: 49px;
    /*background-color: yellowgreen;*/
    overflow: auto;

}

.content {
    padding: 8px;
    font-size: 0.8em;
    /*height: 350px;
    background-color: green;*/
}

.content_flex {
    display: -webkit-flex; /* Safari */
    display: flex;
}
.item{
    font-size: 0.8em;
    margin: 10px;
    padding: 5px;
    border: 1px solid #666666;
    border-radius: 2px;
    text-align: center;
}
.goodslists {
    display: flex;
    padding: 5px;
}

.Neonstereo {
    background: #212121;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
}

.Neonstereo h2 {
    font-size: 25px;
    color: #ffffff;
    text-shadow: 1px 1px 2px red, -1px 1px 2px red, 1px -1px 2px red, -1px -1px 2px red;
}

.shadow3 {
    text-shadow: 1px 1px 1px #666,
    3px 3px 8px black;
    color: #ffffff;
}

footer {
    font-size: 0.8em;
    width: 100%;
    height: 49px;
    position: absolute;
    left: 0;
    bottom: 0;
    list-style: none;
    display: -webkit-flex; /* Safari */
    display: flex;
    background-color: #f0b694;
    /*border-top:1px solid #e5ae8d;*/
    box-shadow: 1px -1px 3px rgba(247, 210, 188, .8);

}

footer .tab {
    flex: 1;
    text-align: center;
    line-height: 1.5em;
    margin: 3px;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}