{% extends "Base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lunbo.css' %}">
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block content %}
    <div class="content">
        <div id="benner">
            <div class="img">
                <img src="{% static 'img/lunbo/1.jpg' %}" class="imga active">
                <img src="{% static 'img/lunbo/2.jpg' %}" class="imga ">
                <img src="{% static 'img/lunbo/3.jpg' %}" class="imga ">
            </div>
            <ul class="title">
                <li class="nr active"></li>
                <li class="nr"></li>
                <li class="nr"></li>
                <li class="nr"></li>
                <li class="nr"></li>
                <li class="nr"></li>
                <li class="nr"></li>
            </ul>
        </div>
        <h2><strong>圣天国学堂</strong></h2>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 圣天国学堂，由圣天数码科技支撑下的文化产业中心。致力于国学文化、儿童及青少年教育、文化教育的科技手段等三个方面的应用转化研究。公司研发实力雄厚，拥有来自西南大学、
        重庆大学、重庆两江书画院、四川乡情书画院、重庆棋院、中科院重庆分院等知名机构的专家学者组成的顾问团队，并构建了多个研发工作室。
        圣天国学堂是公司旗下首个面向社会开放的国学文化教育品牌，其特点是我们独创的教学理论的“窗口引导、临界施教、镜式启发、轨道跳跃”。
    </div>

{% endblock %}
{% block js %}
    <script src="{% static 'js/lunbo.js' %}" type="text/javascript"></script>
{% endblock %}