{% extends "Base.html" %}
{% load static %}
{% block title %}用户中心{% endblock %}
{% block css %}
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block content %}
    <div class="content_flex"> {% if request.user.is_authenticated %}{{ user.username }}用户登录{% endif %}</div>
    <div class="content_flex_fwp" id="xhr">
        {#    <form action="{% url 'users:fpw' %}" method="post">#}
        {#        {{ f }}#}
        {#        {% csrf_token %}#}
        {#        <input type="submit" class="btn" value="获取验证码" name="getverifycode">#}
        {#        <input type="submit" class="btn" value="提交" name="verifycode">#}
        {#    </form>#}
        <div><label><strong>手机号：</strong></label><input type="text" placeholder="输入手机号" id="mobile"></div>
        <div>
            <svg class="icon2" aria-hidden="true" onclick="getVerificationCode()">
                <use xlink:href="#icon-wangshenicon_huoquyanzhengma"></use>
            </svg>
        </div>

    </div>


{% endblock %}
{% block js %}
    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function getVerificationCode() {
            console.log(mobile.value);
            var csrftoken = getCookie('csrftoken');

            var xmlhttp;
            if (window.XMLHttpRequest) {
                // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            }
            else {
                // code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    str = xmlhttp.responseText;
                    console.log(str);
                    document.getElementById("xhr").innerHTML = str;
                }
            }

            xmlhttp.open("POST", "{% url 'users:fpw' %}", true);
            xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            //data={"mobile" :mobile.value, "action":"verficode"};
            data = 'mobile=' + mobile.value + '&&action=getverficode';
            xmlhttp.setRequestHeader('X-CSRFToken', csrftoken);
            xmlhttp.send(data);
        }

        function VerificationCode() {
            alert("VerificationCode");
            console.log(verifycode.value);
            var csrftoken = getCookie('csrftoken');

            var xmlhttp;
            if (window.XMLHttpRequest) {
                // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            }
            else {
                // code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    str = xmlhttp.responseText;
                    console.log(str);
                    document.getElementById("xhr").innerHTML = str;
                }
            }

            xmlhttp.open("POST", "{% url 'users:fpw' %}", true);
            xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            //data={"mobile" :mobile.value, "action":"verficode"};
            data = 'verifycode=' + verifycode.value + '&&action=verifycode';
            xmlhttp.setRequestHeader('X-CSRFToken', csrftoken);
            xmlhttp.send(data);
        }

        function reset_pw() {
            alert("reset_pw");
            console.log(pw1.value);
            var csrftoken = getCookie('csrftoken');

            var xmlhttp;
            if (window.XMLHttpRequest) {
                // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            }
            else {
                // code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    str = xmlhttp.responseText;
                    console.log(str);
                    document.getElementById("xhr").innerHTML = str;
                }
            }

            xmlhttp.open("POST", "{% url 'users:fpw' %}", true);
            xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            //data={"mobile" :mobile.value, "action":"verficode"};
            data = 'pw1=' + pw1.value + '&&pw2='+pw2.value+'&&action=reset_pw';
            xmlhttp.setRequestHeader('X-CSRFToken', csrftoken);
            xmlhttp.send(data);
        }

    </script>
{% endblock %}